extends layout


block content
  section.container
    body
    h2(align='center') About...................
    center
      div(style='width: 750px', align='left')
        | This app is for logging downtime events to a mongo database as well as for viewing viewing events. The Downtime index allows you to filter the database according to keyword, date, time of day and duration. Each event can be opened in a detailed mode with description, from where they can be edited or deleted. New events are logged via the submit page.
        The events codes are:       jdfsdfjf        sdsfkdsk        sdkd
