extends layout

block content
  link(rel='stylesheet' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
  section.container
    body
    h2(align='center') About
    center
      div(style='width: 100%', align='left')
        p This application is for logging downtime events to a database as well as for viewing and calculating statistics regarding those events.
        b Downtime Index:
        p This page allows you to view a table of all downtime events as well as a pie chart and some statistics. The events, which are shown in the table and plotted in the chart, can be filtered by machine or by event type via the buttons on the top left. They can also be filtered by range for the parameters date, time and duration. The following statistics are calculated for R1, R3 and SPF, for the date interval chosen by the user: Planned delivery (hours), total downtime (hours), uptime (%), Mean Time To Repair (hours), Mean Time To Failure (hours), Mean Time Between Fauilures (hours). Note that the statistics only can be filtered by date. When downtime makes up a small fraction of delivery time, then MTTF will approach MTBF. These concepts are illustrated in the figure.
        .image-block
          img(src='images/stats.jpg' , alt='some image', width='100%')
  
        p The database can also be filtered by keyword via the searchbar above the table. The input in the searchbar is not treated as a single string, but as a number of strings seperated by whitespace. This means you for example can search "BI 2018-11 dump alarm 311", if you want events in November 2018 related to beamline instabilities for which the the terms dump, alarm and 311 appear somewhere in the description. Additionally each event can be opened in a detailed mode with description.
        b Restricted functionality
        p Operators can log in with their MAXIV ID and password. When logged in it is possible to submit new downtime events and edit/correct existing events. It is not possible to delete existing events, but they can be #[a(href="/archive") archived]. Archived events are kept in the database but are not shown in the downtime index and are not used when calculating statistics.

        // list of event codes

        b Event codes:
        p Each event is labeled by one of the following event codes.
        .container
          table#code_table.display(style='width:100%')
            thead
              th
              th
              th
              th
            tbody
              tr
                th B:
                td Beamlines
                th BI:
                td Beam instability
              tr
                th CT:
                td Controls
                th DIA:
                td Diagnostics
              tr
                th HE:
                td Human error 
                th HLS
                td High level software
              tr
                th I:
                td Injector
                th ID:
                td Insertion Devices
                td
              tr
                th INF:
                td Infrastructure
                th LAS
                td Laser
              tr
                th MAG:
                td Magnets
                th MML:
                td MATLAB middle layer
              tr
                th MPS:
                td Machine protection system
                th NET:
                td Network
              tr
                th OI:
                td Orbit interlock
                th OT:
                td Other
              tr
                th PLC:
                td Programmable logic controller
                th PSS
                td Personnel safety system
              tr
                th RF
                td Radio Frequency
                th UI
                td Unscheduled injection
              tr
                th UT
                td Unscheduled Trimming
                th VAC
                td Vacuum
              tr
                th WAT
                td Water
                th WD
                td Watchdog
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
  script.
    $(document).ready( function () {
    $('#code_table').DataTable({
    "bFilter": false,
    "bInfo" : false,
    "bPaginate": false,
    "bSort" : false
    });
    } );
