extends layout


block content
  link(rel='stylesheet' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
  section.container
    body
    h2(align='center') About
    center
      div(style='width: 750px', align='left')
        | This app is for logging downtime events to a mongo database as well as for viewing viewing events. The Downtime index allows you to filter the database according to keyword, date, time of day and duration. Each event can be opened in a detailed mode with description, from where they can be edited or deleted. New events are logged via the submit page.
        The events codes are:
          .container
            table#code_table.display(style='width:100%')
              thead
                th Code
                th Description
              tbody
                tr
                  th B:
                  td Beamlines
                tr
                  th BI:
                  td Beam instability
                tr
                  th CT:
                  td Controls
                tr
                  th DIA:
                  td Diagnostics
                tr
                  th HE:
                  td Human error
                tr
                  th I:
                  td Injector
                tr
                  th ID:
                  td Insertion Devices
                tr
                  th INF:
                  td Infrastructure
                tr
                  th MAG:
                  td Magnets
                tr
                  th MML:
                  td MATLAB middle layer
                tr
                  th MPS:
                  td Machine protection system
                tr
                  th NET:
                  td Network
                tr
                  th OI:
                  td Orbit interlock
                tr
                  th OT:
                  td Other
                tr
                  th PLC:
                  td Programmable logic controller
                tr
                  th PSS
                  td Perseonnel safety system
                tr
                  th RF
                  td Radio Frequency
                tr
                  th UI
                  td Unscheduled injection             
                tr
                  th VAC
                  td Vacuum
                tr
                  th WAT
                  td Water
                tr
                  th WD
                  td Watchdog
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
  //the script below allows the deletion of events.
  script(src='/js/main.js')
  script.
    $(document).ready( function () {
    $('#code_table').DataTable({
    "bFilter": false,
    "bInfo" : false,
    "bPaginate": false,
    "bSort" : false
    });
    } );
