doctype html
html
  script(src='/bower_components/jquery/dist/jquery.js')



  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes')
    title DowntimeApp
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css', type='text/css')

  .container
    head
      style.
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#000000;
        top: 0;
        width: 100%;
        }
        li {
        float: left;
        }
        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        li a:hover:not(.active) {
        background-color: #66ccff;
        color: white;
        text-decoration: none;
        }


      div
        ul
          li
            a(href='/') Downtime Index
          li
            a(href='/about') About
          //The following list items should be hidden unless user is logged in
          .ifLoggedIn
            li
              a(href='/schedule') Schedule
            li
              a(href='/downtimeevent/submit') Submit downtime
            li
              a(href='/user/logout') Logout
          //The following list item should be hidden unless user is NOT logged in
          .ifLoggedOut
            li
              a(href='/user/login') Login
      div(style='padding:5px;margin-top:0px;background-color:#66ccff;height:0px;')

    .container
      br
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert-danger") #{error.msg}
      block content

      br
      hr
      footer
        p MAX IV operations group

script.
  //from https://www.w3schools.com/js/js_cookies.asp
  function getCookie(cname) {
  var name= cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
  };

  //Function for hiding stuff relevant only to logged in users.
  //If you are not logged in, then you should not see the schedule, submit or logout button.
  $(document).ready(function(){
  if (getCookie('authenticated') != 'true')
    {
    $('.ifLoggedIn').hide();
    }
  });

  //Function for hiding stuff which is only relevant before you login
  //You don't need a login button once you already are logged in, so we hide that button
  $(document).ready(function(){
  if (getCookie('authenticated') == 'true')
    {
    $('.ifLoggedOut').hide();
    }
  });
