extends layout

block content
  link(rel='stylesheet' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
  .container


  h1 here goes the schedule!
  tbody
    table#weektable.display(style='width:100%').compact
      thead
        tr
          h3
            center R3 Schedule Table
          th
            h4
              b Week 42
          th Monday
          th Tuesday
          th Wednesday
          th Thursday
          th Friday
          th Saturday
          th Sunday
      tbody
        tr
          th
            b Planned delivery (h)
          each val, index in [24,0,10,9,34,16,4]
            td #{val}
              //- button(style='cursor:pointer;background-color:#2ECC71;color: white;border: 5px solid #66ccff;border-radius: 10%;height:40px;width:105px;text-align: center;text-decoration: none;font-size: 18px;', value=1, onclick='click(id)')#index blip
              //- script.
              //-   function click(id) {
              //-   document.getElementById(id).style.background = "#66ccff",
              //-   console.log('dfgfgd')
              //-   }

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
  script.
    $(document).ready( function () {
    $('#weektable').DataTable({
    "bFilter": false,
    "bInfo" : false,
    "bPaginate": false,
    "bSort" : false
    });
    } );
