extends layout

block content
  link(rel='stylesheet' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
  .container


  h1 here goes the schedule!
  tbody
    table#weektable.display(style='width:100%').compact
      thead
        tr
          h3
            center R3 Schedule Table
          th
            h4
              b Week 42
          th Monday
          th Tuesday
          th Wednesday
          th Thursday
          th Friday
          th Saturday
          th Sunday
      tbody
        tr
          th
            b Planned delivery (h)
        each val, index in deliveryplans
          tr
            td #{val}

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
  script.
    $(document).ready( function () {
    $('#weektable').DataTable({
    "bFilter": false,
    "bInfo" : false,
    "bPaginate": false,
    "bSort" : false
    });
    } );
